<div class="mx-auto max-w-lg text-lg">
<%= form_with model: @trip, class: "flex flex-col" do |form| %>
  <%= render(FormRowComponent.new) do %>
    <%= form.label :name, "Trip name:" %>
    <%= form.text_field :name %>
  <% end %>
  <%= render(FormRowComponent.new) do %>
    <%= form.label :start_date, "Start date:" %>
    <%= form.date_select :start_date %>
  <% end %>
  <%= render(FormRowComponent.new) do %>
    <%= form.label :end_date, "End date:" %>
    <%= form.date_select :end_date %>
  <% end %>
  <%= form.submit @trip.persisted? ? "Update" : "Create" %>
<% end %>
</div>
