<!DOCTYPE html>
<html>
  <head>
    <title>CantStandStillAdmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <% if current_user %>
    <div class="p-4 flex flex-row justify-start items-center bg-blue-400 text-white">
      <p class="mx-4 text-2xl">Trip Manager</p>
      <%= render(NavLinkComponent.new(text: "Trips", link: "/trips")) %>
      <%= render(NavButtonComponent.new(text: "Logout", link: "/logout", classStr: "ml-auto")) %>
      <%= render(NavButtonComponent.new(text: "Return to App", link: "https://cant-stand-still-frontend.vercel.app/")) %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
